
{% block stylesheet %}
    <link href="/assets/css/togglebutton.css" rel="stylesheet" />
{% endblock %}
<form method="post" class="formAdd">

    <div class="main">
        
        <input type="hidden" value="{{ book_array.id }}" name="id">

        <div class="formInputStyle">
            <p>{{ errors.title }}</p>
            <label for="title" id="label">Titre</label>
            <input class="inputPosition" type="text" id="title" name="title" value="{{ book_array.title }}"><br>
        </div>
        <div class="formInputStyle">
            <p>{{ errors.author }}</p>
            <label for="author" id="label">Auteur</label>
            <input class="inputPosition" type="text" id="author" name="author" value="{{ book_array.author }}"><br>
        </div>
        <div class="formInputStyle">
            <label for="releaseDate" id="label">Date de Parution</label>
            <input class="inputPosition" type="date" id="releaseDate" name="releaseDate" value={% if book_array.releaseDate == "" %}""{% else %}
            {{ book_array.releaseDate }}{% endif %} max="{{today}}"><br>
        </div>
        <div class="formInputStyle">
            <label for="genre" id="label">Genre</label>
            <input class="inputPosition" type="text" id="genre" name="genre" value="{{ book_array.genre }}"><br>
        </div>
        <div class="formInputStyle">
            <p>{{ errors.isbn }}</p>
            <label for="isbn" id="label">ISBN (comporte 13 caractères)</label>
            <input class="inputPosition" type="text" id="isbn" name="isbn" value="{{ book_array.isbn }}" ><br>
        </div>
        <div class="switch-toggle switch-3 switch-candy">
        <input id="borrowed" name="ownership" type="radio" value="borrowed"  {% if book_array.ownership == "borrowed" %} checked {% endif %} >
        <label for="borrowed" onclick="">Emprunté</label>

        <input id="mine" name="ownership" type="radio" value="mine" {% if book_array.ownership == "mine" or book_array.ownership == "" %} checked {% endif %} >
        <label for="mine" onclick="">Mien</label>

        <input id="lended" name="ownership" type="radio" value="lended"{% if book_array.ownership == "lended" %} checked {% endif %}>
        <label for="lended" onclick="">Prêté</label>
        
        <a></a>
        </div>
        <div class="formInputStyle">
            <label for="friend" id="label">à</label>
            <input class="inputPosition" type="text" id="friend" name="friend" value="{% if book_array.ownership == "mine" %}{% else %}{{ book_array.friend }}{% endif %}" >
        </div>
        <div class="formInputStyle">
            <label for="hasBeenRead" id="label">Lu</label>
            <input type="checkbox" id="hasBeenRead" name="hasBeenRead" value="1" {% if book_array.hasBeenRead == "Oui" %} checked {% endif %}>
        </div>
        <div class="formInputStyle">
            <label for="hasBeenReadOn" id="label">Le</label>
            <input class="inputPosition" type="date" id="hasBeenReadOn" name="hasBeenReadOn" value={% if book_array.hasBeenReadOn == "" %}""{% else %}
            {{ book_array.hasBeenReadOn }}{% endif %} max="{{today}}" ><br>
        </div>
        <div class="formInputStyle">
            <p>{{ errors.localization }}</p>
            <label for="localization" id="label">Localisation</label>
            <input class="inputPosition" type="text" id="localization" name="localization" value="{{ book_array.localization }}"><br>
        </div>
        <div class="formInputStyle">
            <label for="description" id="label">Description</label><br>
            <textarea class="inputPosition" id="description" name="description">{{ book_array.description }}</textarea><br>
        </div>
        <div class="addButtonDiv">
            <input type="submit" value="Ajouter" class="addBookButton">
        </div>
    </div>
</form>
