<form action="" method="post">

    <input type="hidden" value="{{ book_array.id }}" name="id">

    <label for="title">Titre</label>
    </br>{{ errors.title }}</br>
    <input type="text" id="title" name="title" value="{{ book_array.title }}"></br>

    <label for="author">Auteur</label>
    </br>{{ errors.author }}</br>
    <input type="text" id="author" name="author" value="{{ book_array.author }}"></br>

    <label for="releaseDate">Date de Parution</label>
    <input type="date" id="releaseDate" name="releaseDate" value={% if book_array.releaseDate == "" %}{% else %}
    {{ book_array.releaseDate }}{% endif %} max="{{today}}"></br>

    <label for="genre">Genre</label>
    <input type="text" id="genre" name="genre" value="{{ book_array.genre }}"></br>

    <label for="isbn">ISBN</label>
    </br>{{ errors.isbn }}</br>
    <input type="text" id="isbn" name="isbn" value="{{ book_array.isbn }}" ></br>

    <label for="hasBeenRead">Lu</label>
    <input type="checkbox" id="hasBeenRead" name="hasBeenRead" value="1" {% if book_array.hasBeenRead == "Oui" %} checked {% endif %}>

    <label for="hasBeenReadOn">Le</label>
<<<<<<< HEAD
    <input type="date" id="hasBeenReadOn" name="hasBeenReadOn" value={% if book.hasBeenReadOn == "" %}{% else %}
    {{ book.hasBeenReadOn }}{% endif %} max="{{today}}" ></br>
=======
    <input type="date" id="hasBeenReadOn" name="hasBeenReadOn" value={% if book_array.hasBeenReadOn == "" %}{{ book_array.hasBeenReadOn }}{% else %}
    {{ book_array.hasBeenReadOn }}{% endif %} max="{{today}}" ></br>
>>>>>>> df090e6bf1a41034e4544e53edda484acb9fe0d5

    <label for="localization">Localisation</label>
    </br>{{ errors.localization }}</br>
    <input type="text" id="localization" name="localization" value="{{ book_array.localization }}"></br>

    <label for="description">Description</label></br>
    <textarea id="description" name="description">{{ book_array.description }}</textarea></br>
    <input type="submit" value="Ajouter">
