
{% extends 'layout.html.twig' %}

{% block content %}
    <main>
        <img src="/assets/images/presentation.jpg" class="presentationImage" alt="image de page d'accueil">
        <div class="containerIndex">
            <h1 class="titleLibrary">Ma bibliothèque</h1>
        </div>
        <hr class="hrLibrary">
        <div class="addBook">
            <a href="/book/add" class="aPlus"><img src="/assets/images/iconplus.png" class="plusImage1" 
                alt="image permettant d'accéder au formulaire d'ajout"></a>
        </div>
        <div class="myLibrary">
            <ul  class="flex-parent">
                {% for book in books %}
                    <li><a href="/book/show/{{ book.id }}">
                            <p class="indexBookTitle"> {{ book.title }} </p>
                            <p class="indexBookAuthor"> {{ book.author }} </p> 
                            <div class"localisationBook">
                                <p class="indexBookLocalisation"> Localisation : {{ book.localization }}</p>
                                <div class="bookIcon">
                                    {% if book.hasBeenRead == "Oui" %}
                                    <img src="/assets/images/read-book.png" class="readBook" alt="image indiquant si le livre est lu">
                                    {% else %}
                                    <img src="/assets/images/unread-book.png" class="readBook" alt="image indiquant si le livre est lu"> 
                                    {% endif %}
                                </div>
                            </div>
                    </a></li>
                        {% else %}
                    <li>Aucun livre à afficher!</li>
                {% endfor %}
            </ul>
        </div>
        <div class="buttons">
            {% if previousPage > 0 %}
                <a href="/book/index/{{ previousPage }}" class="previousButton">&lt;&lt; précédent</a>
             {% endif %}
            {% if books|length == 10  %}
            <a href="/book/index/{{ nextPage }}" class="nextButton">Suivant &gt;&gt;</a>
           {% endif %}
      
        </div>
        <div class ="alignPlusImage">
            <a href="/book/add"><img src="/assets/images/iconplus.png" class="plusImage" 
            alt="image permettant d'accéder au formulaire d'ajout"></a>
        </div>
    </main>

{% endblock %}
