
{% extends 'layout.html.twig' %}

{% block content %}
    <main>
        <img src="/assets/images/presentation.jpg" class="presentationImage" alt="image de page d'accueil">
        <div class="containerIndex">
            <h1 class="titleLibrary">Ma bibliothèque</h1><a href="/book/add"><img class="plusLittleImage" src="/assets/images/iconeplus.png"
            alt="image permettant d'accéder au formulaire d'ajout"></a>
        </div>
        <hr class="hrLibrary">
    
        <form action="/book/index/" method="POST" >
            <label for='userSearch' class="searchText">Rechercher</label>
            <div class="searchBar">
            <input type="text" placeholder="Ex: Balzac" id='userSearch' name='userSearch'/>
            <label for='dataField'>dans</label>
            <select name="dataField" id="dataField">
                <option value="title" selected>Titre</option>
                <option value="author">Auteur</option>
                <option value="releaseDate">Date de parution</option>
                <option value="genre">Genre</option>
                <option value="isbn">ISBN</option>
                <option value="localization">Localisation</option>
            </select>
                <button type="submit" class"button"><img src="/assets/images/magnifyingGlass.png" class="magnifyingGlassImage"></button>
            </div>
        </form>

        <div class="myLibrary">
            <ul class="flex-parent">
                    {% for book in books %}
                        <li><a href="/book/show/{{ book.id }}">
                                <p class="indexBookTitle"> {{ book.title }} </p>
                                <p class="indexBookAuthor"> {{ book.author }} </p> 
                                <p class="indexBookLocalisation"> Localisation : {{ book.localization }}
                                    {% if book.hasBeenRead == "Oui" %}
                                    <img src="/assets/images/booklu.png" class="readBook" alt="image indiquant si le livre est lu">
                                    {% else %}
                                    <img src="/assets/images/booknonlu.png" class="readBook" alt="image indiquant si le livre est lu"> </p>
                                    {% endif %}
                                </p>
                        </a></li>
                            {% else %}
                        <li>Aucun livre à afficher!</li>
                    {% endfor %}
            </ul>
        </div>
        <div class="buttons">
            {% if previousPage > 0 %}
                <a href="/book/index/{{ previousPage }}" class="previousButton">&lt;&lt; previous</a>
            {% endif %}
                <a href="/book/index/{{ nextPage }}" class="nextButton">next &gt;&gt;</a>
        </div>
        <div class ="alignPlusImage">
            <a href="/book/add"><img src="/assets/images/iconeplus.png" class="plusImage" 
            alt="image permettant d'accéder au formulaire d'ajout"></a>
        </div>
    </main>

{% endblock %}
