{% extends 'layout.html.twig' %}

{% block content %}


    <main class="mainShow">
    <div class="hightIcons">
        <a href="/"><img src="/assets/images/cross.png" class="cross" alt="image pour quitter la page"></a>
    </div>

    <section class="bookDescription">
        <h2>{{ book.title }}</h2>
        <hr id="hrDescription">

        <h3>Auteur : {{ book.author }}</h3>
        <h3>Date de parution : {{ book.releaseDate }}</h3>
        <h3>Genre : {{ book.genre }}</h3>
        <h3>ISBN : {{ book.isbn }}</h3>
        <h3>Lu : {{ book.hasBeenRead }}</h3>
        <h3>Date de lecture : {{ book.hasBeenReadOn }}</h3>
        <h3>Localisation : {{ book.localization }}</h3>
        <h3>Description : {{ book.description }}</h3>
    </section>

{# Delete Confirmation #}
    <section class="bottomIcon">
        <a href="/book/edit/{{ book.id }}"><img src="/assets/images/pen.png" class="pen" alt="image permettant d'éditer les informations d'un livre"></a>
        <a onclick="document.getElementById('id01').style.display='block'"><img src="/assets/images/trash.png" class="trash"
        alt="image permettant de supprimer un livre"></a>
        
        <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <form class="modal-content">
                <div class="container">
                    <h2>Supprimer</h2>
                    <p>Etes-vous sûr de vouloir supprimer ce livre ?</p>

                    <div class="clearfix">
                        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="cancelbtn">Annuler</button>
                        <button onclick="window.location.href='/book/delete/{{book.id}}'" type="button" class="deletebtn">Supprimer</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script>
        var modal = document.getElementById('id01');
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    </main>

{% endblock %}
