{% extends 'layout.html.twig' %}

{% block content %}


    <main class"mainShow">
        <section class="hightIcons">
            <a href="/Livre/edit/{{ livre.id }}"><img src="/assets/images/pen.png" class="pen"></a>
            <a href="/Livre/index"><img src="/assets/images/cross.png" class="cross"></a>
        </section>

        <section class="bookDescription">
            <h1>{{ livre.titre }}</h1>
            <hr id="hrDescription">
            
            <h3>Auteur : {{ livre.auteur }}</h3>
            <h3>Date de parution : {{ livre.parution }}</h3>
            <h3>Genre : {{ livre.genre }}</h3>
            <h3>ISBN : {{ livre.isbn }}</h3>
            <h3>Lu : {{ livre.lu }}</h3>
            <h3>Date de lecture : {{ livre.lecture }}</h3>
            <h3>Localisation : {{ livre.localisation }}</h3>
            <h3>Description : {{ livre.description }}</h3>
        </section>

        <section class="bottomIcon">
            <a href="/Livre/delete/{{livre.id}}"><img src="/assets/images/trash.png" class="trash"></a>
        </section>
    </main>


{% endblock %}

